mixin Page(title, component)
doctype html
  html
    head
      meta(charset="utf8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

      title= title

      link(rel="stylesheet" href="/static/common/common.css")
      link(rel="stylesheet" href=`/static/${component}/index.css`)

      script(defer src="/static/common/common.js")
      script(defer src=`/static/${component}/index.js`)
  body
    block
