* {
  box-sizing: border-box;
}

*:not(input):not(textarea) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-moz-focus-inner {
  border: 0;
}

[hidden] {
  display: none !important;
}

html {
  /* Prevent panning, pinching, and double-tapping to move/scale viewport. */
  touch-action: none;

  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background: #222;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;

  cursor: pointer;

  color: inherit;
  font: inherit;
}

input {
  cursor: text;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin: 0;
}

ul, ol, dl, dd {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

.ripple-target {
  position: relative;
  overflow: hidden;
}

#targets {
  display: flex;
  align-items: stretch;
}

.target {
  flex: 1 0 0;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(250);
    opacity: 1;
  }
  100% {
    transform: scale(250);
    opacity: 0;
  }
}

.ripple {
  animation-name: ripple;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 100%;
  height: 1px;
  width: 1px;
  position: absolute;
  pointer-events: none;
}
