* {
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
}

[hidden] {
  display: none !important;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background: #222;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;

  cursor: pointer;

  color: inherit;
  font: inherit;
}

input {
  cursor: text;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

#targets {
  display: flex;
  align-items: stretch;
}

#targets > * {
  flex: 1 0 0;
}
