a {
  display: block;
  width: 100%;
  height: 100%;
}

#header {
  background: black;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0.125rem 0 1rem #111;
}

#library, #preview {
  /* Fill remaining space not used by #header. */
  height: calc(100vh - 3rem);
}

#titles {
  display: flex;
  align-items: center;

  font-size: 1.25rem;
  padding: 0 0.5rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#titles > button {
  color: #666;
  padding: 0 0.5rem;
}

#title {
  font-weight: 500;
}

#preview-title {
  padding-left: 0.5rem;
  color: #aaa;
}

#search {
  background: rgba(255, 255, 255, 0.2);

  border-radius: 0.25rem;
  width: 35rem;

  box-shadow: inset 0 0 0.75rem #333;

  padding: 0.5rem 1rem;
  font-size: 0.875rem;

  color: white;
}

.s-previewing #search {
  display: none;
}

#toolbar {
  font-size: 0.875rem;
}

#toolbar > button {
  font-weight: 500;

  margin: 0.25rem;
  padding: 0.75rem;

  color: #666;

  text-transform: uppercase;
}

.s-previewing #button-upload,
.s-previewing #button-select {
  display: none;
}

#library {
  padding: 1rem;
  overflow-y: scroll;
}

.s-previewing #library {
  display: none;
}

#folders {
  margin-bottom: 1.25rem;

  display: flex;
  flex-wrap: wrap;
}

.folder {
  background: #ccc;
  color: #555;

  width: 10rem;
  margin: 0 1rem 1rem 0;

  word-wrap: break-word;
}

.folder > a {
  padding: 0.75rem 1rem;
  font-weight: 600;
}

#thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  display: block;
  margin-bottom: 0.75rem;
  /* Placeholder to show frame while loading. */
  background: #333;
}

.thumbnail > a {
  background: no-repeat center / contain;
}

#preview {
  background: no-repeat center / contain;
}

body:not(.s-previewing) #preview {
  display: none;
}

#targets {
  height: 100%;
  width: 100%;
}
