#cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 99999;
}

#button-cover-close {
  color: gray;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

body.s-engaged * {
  cursor: none !important;
}

#pane {
  flex: 0 0 auto;
  width: 25rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-left: 1px solid #444;
}

.s-hideList #pane {
  display: none;
}

#pane-toolbar {
  flex: 0 0 auto;
  margin: 1rem 0.5rem;

  display: flex;
  align-items: center;
}

#search {
  flex-grow: 1;

  border: 2px solid #333;
  background: transparent;

  color: #aaa;
  padding: 0.5rem;
  font-size: 0.75rem;
}

#search:focus {
  background: rgba(90, 90, 90, 0.1);
  border-color: #444;
}

#pane-toolbar > button {
  flex: 0 0 auto;

  color: #444;
  font-size: 1.5rem;
  padding-left: 1rem;
}

#folders-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5rem 1rem 0.5rem;
  font-size: 0.875rem;
}

#autoplay {
  display: flex;
  align-items: center;
}

#autoplay input {
  margin-left: 0.5rem;
}

#folders {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;

  -webkit-overflow-scrolling: touch;
}

.folder-name, .entry-title, #notification {
  /* overflow-wrap: anywhere is not supported in Chrome, and word-wrap has been deprecated. */
  /* We want to break a word only if necessary i.e. no break points in a very long word. */
  word-break: break-word;
}

.folder-name {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: bold;
}

#folders:not(.folders-show-titles) .folder-name {
  display: none;
}

.entry {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.entry[data-current] {
  background: rgba(255, 255, 255, 0.2);
}

.entry[data-liked] {
  font-weight: bolder;
}

.entry[data-disliked] {
  opacity: 0.5;
}

.entry[data-filtered] {
  display: none;
}

.entry-preview {
  position: relative;
  width: 10rem;
  height: 6rem;
  margin: 0.5rem;
  flex: 0 0 auto;
}

#folders:not(.folders-show-thumbnails) .entry-preview {
  display: none;
}

.entry-thumbnail, .entry-snippet {
  background: black;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.entry-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.4s;
}

#folders.folders-show-snippets .entry-preview:hover .entry-thumbnail {
  opacity: 0;
}

.entry-snippet {
  object-fit: contain;
}

.entry-title {
  color: #ddd;
  font-size: 0.75rem;
  margin: 0.5rem 0.5rem 0.5rem 1rem;

  flex-grow: 1;
}

#folders.folders-show-thumbnails .entry-preview ~ .entry-title {
  /* Decrease margin to the left of an entry title when previews are available AND showing. */
  margin-left: 0.5rem;
}

#pane-controls {
  flex: 0 0 auto;
  height: 2.5rem;

  border-top: 1px solid #444;

  display: flex;
}

#pane-controls > button {
  /* IE 11 doesn't support `flex: 1 0 0`. */
  width: 33.33%;
  background: black;
}

#pane-controls > button:not(:last-child) {
  border-right: 1px solid #444;
}

#player {
  flex-grow: 1;
  position: relative; /* For #overlay. */
}

#player:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

#video {
  display: block;
  width: 100%;
  height: 100%;

  background: black;
  object-fit: contain;
}

body:not(.s-loaded) #video,
body:not(.s-loaded) #overlay {
  /* Need to hide #video as some browsers simply show the last frame when stopped. */
  display: none;
}

#overlay {
  text-shadow: 0 0 0.5rem black;

  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s linear;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  /* Hide #title and #player-controls when engaged. */
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.s-engaged #overlay {
  opacity: 0;
  pointer-events: none;
}

#title, #player-controls {
  flex: 0 0 auto;
}

#title {
  padding: 1rem;

  display: flex;
  align-items: center;
}

#title-text {
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 1;
}

#title-error {
  color: orange;
  font-size: 0.875rem;
}

#title-controls {
  flex: 0 0 auto;
}

body:not(.s-hideList) #button-list-show {
  display: none;
}

#overlay-middle {
  flex-grow: 1;

  /* For #notification and #button-playback. */
  position: relative;
}

#notification {
  position: absolute;

  right: 2rem;
  top: 1rem;

  width: 10rem;

  opacity: 0;
  /* Keep in sync with TRANSITION_DURATION style. */
  transition: opacity 300ms ease-in;

  display: flex;
  justify-content: flex-end;
}

#notification.notification-visible {
  opacity: 1;
}

#notification-text {
  color: rgba(255, 255, 255, 0.35);
  font-size: 0.875rem;
  text-align: right;
}

#notification-progress-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#notification-progress {
  width: 0.125rem;
  border-radius: 0.125rem;
  background: rgba(255, 255, 255, 0.25);

  margin-left: 0.5rem;
  flex: 0 0 auto;

  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes notification-timeout {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

.notification-progress-animate-timeout {
  animation-name: notification-timeout;
}

#button-playback {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 2rem;

  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.75);
  transition: 0.4s;

  width: 5rem;
  height: 5rem;
  border-radius: 100%;

  font-size: 2rem;
  line-height: 5rem;
  cursor: pointer;
}

#button-playback:hover {
  background: rgba(255, 255, 255, 0.35);
}

.s-playing #button-playback::before {
  content: '⏸';
}

body:not(.s-playing) #button-playback::before {
  content: '▶';
}

#player-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* For #playback-montage. */
  position: relative;
}

#playback-montages-container {
  background-color: rgba(0, 0, 0, 0.33);
  border-color: #444;
  border-style: solid;
  border-width: 1px 0;
  bottom: 100%;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
}

#playback-montages-container.showing {
  display: block;
}

#playback-montages {
  overflow: hidden;
  width: 100%;
}

.playback-montage {
  display: none;
}

.playback-montage.active {
  display: block;
}

.playback-montage-frames {
  white-space: nowrap;
}

.playback-montage-frames::after {
  /* Add enough padding to allow scrolling past end so last frame can be centered using scrollLeft. */
  /* This is set here instead of #playback-montages because overflowing seems to cause padding-right to be ignored in FF. */
  content: '';
  width: 100vw;
}

.playback-montage-frames::after, .playback-montage-frame, .playback-montage-overlay-mask {
  height: 120px;
}

.playback-montage-frames::after, .playback-montage-frame {
  display: inline-block;
  vertical-align: top;
}

#playback-montage-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
}

.playback-montage-overlay-mask {
  flex: 0 0 auto;
  background: rgba(0, 0, 0, 0.8);
}

#playback-montage-overlay-window {
  border-color: #222;
  border-style: solid;
  border-width: 0 1px;
  flex-grow: 1;
}

#progress {
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 0 0.75rem;
  width: calc(100% - 1.5rem);
}

#progress::-webkit-slider-thumb {
  height: 0.75rem;
  width: 0.75rem;
  background: #eee;
  border: 1px solid #666;
}

#progress::-moz-range-thumb {
  height: 0.75rem;
  width: 0.75rem;
  background: #eee;
  border: 1px solid #666;
}

#progress::-ms-thumb {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 0.75rem;
  background: #eee;
  border: 1px solid #666;
}

#progress::-webkit-slider-runnable-track {
  background: gray;
  height: 0.25rem;
  border-radius: 0.5rem;
}

#progress::-moz-range-track {
  background: gray;
  height: 0.25rem;
  border-radius: 0.5rem;
}

#progress::-ms-track {
  background: gray;
  color: gray;
  height: 0.25rem;
  border-radius: 0.5rem;
}

#player-controls > button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

#time, #speed {
  font-size: 0.875rem;
}

#time {
  flex-grow: 1;
  padding: 0 1rem;
}

#speed {
  display: flex;
  align-items: stretch;
  margin-left: 0.5rem;
}

.speed-option {
  cursor: pointer;

  display: flex;
  align-items: center;
}

.speed-option div {
  padding: 0.25rem 0.5rem;
}

#speed:not(.expanded) .speed-option input:not(:checked) + div {
  display: none;
}

.s-fullscreen #button-fullscreen::before {
  content: '⇲';
}

body:not(.s-fullscreen) #button-fullscreen::before {
  content: '⇱';
}
