.explorer {
  height: 100%;
  padding: 20px 340px 200px 20px;
  overflow: auto;
  transition: 0.4s;
}

.explorer-extended {
  padding-right: 20px;
}

.explorer-folders, .explorer-files {
  display: flex;
  flex-wrap: wrap;
}

.explorer-folders:not(:empty) {
  margin-bottom: 100px;
}

.explorer-folder {
  font-size: 14px;
  padding: 8px;
}

.explorer-folder {
  border-radius: 3px;
  border: 1px solid #ddd;
  background: transparent;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 200px;
}

.explorer-file {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;
  height: 150px;
  width: 200px;

  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: left;
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px 3px #222;
  word-wrap: break-word;
}

.explorer-file-video-snippet {
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background: black;
  transition: 0.3s;
}

.explorer-file-video-snippet:hover {
  opacity: 1;
}

.explorer-file-duration, .explorer-file-name {
  border-radius: 3px;
  padding: 3px;
  position: absolute;
}

.explorer-file-duration {
  top: 6px;
  right: 6px;
}

.explorer-file-name {
  bottom: 6px;
  left: 6px;
  right: 6px;
}
