.explorer {
  height: 100%;
  padding: 76px 20px 150px 20px;
  overflow: auto;
  transition: 0.4s;
}

.explorer-reserve-right-space {
  padding-right: 355px;
}

.app-tucked .explorer {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 56px;
}

.app-tucked .explorer-reserve-right-space {
  padding-right: 332px;
}

.explorer-entries-dir {
  display: block;
  padding: 20px 0 12px 0;
}

.explorer-entries:first-child .explorer-entries-dir {
  padding-top: 0;
}

.explorer-folders,
.explorer-files {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.app-tucked .explorer-folders,
.app-tucked .explorer-files {
  gap: 12px;
}

.explorer-folders:not(:empty) {
  margin-bottom: 100px;
}

.explorer-files {
  grid-auto-rows: 150px;
}

.explorer-folder,
.explorer-file {
  width: 100%;
}

.explorer-folder {
  font-size: 14px;
  padding: 8px;
}

.explorer-folder {
  border-radius: 3px;
  border: 1px solid #ddd;
  text-align: left;
  word-wrap: break-word;
}

.explorer-file {
  border: 1px solid #ddd;
  border-radius: 3px;

  position: relative;

  text-align: left;
  font-size: 12px;
  word-wrap: break-word;
}

.explorer-file-video-preview {
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background: black;
  transition: 0.3s;
}

.app:not(.app-pt-touch) .explorer-file-video-preview:hover {
  opacity: 1;
}

.explorer-file-label {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  color: #111;
  padding: 3px;
  position: absolute;
}

.explorer-file-duration {
  top: 6px;
  right: 6px;
}

.explorer-file-name {
  bottom: 6px;
  left: 6px;
  right: 6px;
}
