.playback {
  /*
    TODO HACK WORKAROUND BUG
    This is for the opacity bug on .path (see for more details).
    This is needed when playlist is maximised.
  */
  z-index: 3;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  /* .playback-card takes up invisible space. */
  pointer-events: none;

  padding: 12px;
}

.app-immersed .playback {
  opacity: 0;
  pointer-events: none;
}

.playback-card {
  word-wrap: break-word;

  width: 300px;
  border-radius: 8px;
  overflow: hidden;

  margin: 0 auto -15px auto;
  opacity: 0;

  transition: 0.25s;
}

.playback-card-open {
  margin-bottom: 5px;
  opacity: 1;
  pointer-events: auto;
}

.playback-card-details {
  line-height: 1.5;
  font-size: 14px;
  padding: 12px;
}

.playback-card-path {
  font-size: 12px;
  color: #888;
}

.playback-card-title {
  font-weight: bold;
}

.playback-card-iconed > * {
  display: inline-block;
  vertical-align: top;
}

.playback-card-iconed > :first-child {
  text-align: center;
  width: 24px;
}

.playback-card-iconed > :last-child {
  width: calc(100% - 24px);
}

.playback-photo-metadata {
  /* For compact layout. */
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.playback-photo-metadata > div {
  padding: 8px;
}

.playback-photo-metadata dt {
  color: gray;
  font-size: 12px;
}

.playback-photo-metadata dd {
  margin: 0;
  font-size: 12px;
}

.playback-slider {
  cursor: pointer;
  height: 4px;
  width: 100%;
  transition: 0.3s;
}

.playback-slider-unavailable {
  height: 0px;
}

.playback-slider-tube {
  background: rgba(255, 255, 255, 0.33);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.playback-slider-fill {
  background: white;
  height: 100%;
}

.playback-main {
  pointer-events: auto;

  display: flex;
  align-items: center;
}

.playback-main > * {
  flex-shrink: 0;
}

.playback-spacer {
  flex-grow: 1;
}

.playback-timestamp {
  padding: 6px;
}

.playback-title {
  /* TODO HACK This element is not a button (see index.tsx). */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playback-main {
  color: white;
  display: flex;
  align-items: center;
}

.playback-main > button {
  font-size: 26px;
  padding: 12px;
}

.playback-rate {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
}

.playback-rate > * {
  color: initial;
  text-shadow: initial;
}
