.playback {
  /*
    TODO HACK WORKAROUND BUG
    This is for the opacity bug on .path (see for more details).
    This is needed when playlist is maximised.
  */
  z-index: 3;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;

  padding: 12px;
}

.app-immersed .playback {
  opacity: 0;
  pointer-events: none;
}

.playback-info-dialog {
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 14px;
  line-height: 1.5;
  color: white;
  word-wrap: break-word;

  height: 480px;
  width: 640px;
  padding: 12px;
  margin: -240px auto 0 auto;
  border-radius: 12px;
  overflow: auto;

  background: rgba(0, 0, 0, 0.9);
}

.playback-info-header {
  display: flex;
  align-items: center;
}

.playback-info-icon {
  flex-shrink: 0;
  margin-right: 12px;
  font-size: 24px;
}

.playback-info-path {
  font-weight: bolder;
}

.playback-info-defs dt {
  margin-top: 12px;
  color: gray;
  font-size: 12px;
}

.playback-info-defs dd {
  margin-left: 12px;
}

.playback-slider {
  cursor: pointer;
  /* Transparently increase touch target size. */
  padding: 6px 0;
  height: 16px;
  width: 100%;
  transition: 0.3s;
}

.playback-slider-unavailable {
  height: 0px;
}

.playback-slider-tube {
  background: rgba(255, 255, 255, 0.33);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.playback-slider-fill {
  background: white;
  height: 100%;
}

.playback-main {
  display: flex;
  align-items: center;
}

.playback-main > * {
  flex-shrink: 0;
}

.playback-spacer {
  flex-grow: 1;
}

.playback-timestamp {
  padding: 6px;
}

.playback-title {
  flex-shrink: 1;
  font-size: 16px !important;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playback-main {
  color: white;
  display: flex;
  align-items: center;
}

.playback-main > button {
  font-size: 26px;
  padding: 12px;
}

.playback-rate {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
}

.playback-rate > * {
  color: initial;
  text-shadow: initial;
}
