.playlist {
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 35px;
  bottom: 55px;
  width: 300px;

  transition: 0.4s;
}

.playlist-closed {
  box-shadow: none;
  right: -300px;
  pointer-events: none;
}

.playlist-maximised {
  border-radius: 10px 10px 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
}

.playlist-maximised.playlist-closed {
  right: 0;
  top: 100%;
}

.playlist-items {
  height: 100%;
  padding: 60px 0;
  overflow: auto;
}

.playlist-maximised .playlist-items {
  padding-bottom: 150px;
}

.playlist-item {
  display: block;
  padding: 8px 10px;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
}

.app:not(.app-pt-touch) .playlist-item:hover {
  background-color: rgba(230, 230, 230, 0.2);
}

.playlist-item-current {
  font-size: 12px;
  color: #ccc;
}

.playlist-item-title {
  font-size: 14px;
}

.playlist-menu, .playlist-controls {
  -webkit-backdrop-filter: blur(30px) saturate(125%);
  backdrop-filter: blur(30px) saturate(125%);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background: rgba(252, 252, 252, 0.96);
  border-radius: 4px;
  font-size: 13px;
  left: 10px;
  position: absolute;
  right: 10px;
}

.app-dark .playlist-menu,
.app-dark .playlist-controls {
  background: rgba(0, 0, 0, 0.6);
  color: #f2f2f2;
}

.playlist-menu {
  top: 10px;
  display: flex;
  align-items: center;
}

.playlist-picker {
  flex-grow: 1;

  text-align: left;
  padding: 7px;
}

.playlist-close {
  flex-shrink: 0;
  padding: 10px;
}

.playlist-controls {
  bottom: 10px;
  display: flex;
}

.playlist-maximised .playlist-controls {
  display: none;
}

.playlist-controls > * {
  padding: 10px;
  flex: 1 0 0;
}
