.playlist {
  border-radius: 10px;
  position: absolute;
  top: 30px;
  right: 35px;
  bottom: 55px;
  width: 300px;

  transition: 0.4s;

  display: flex;
  flex-direction: column;
}

.playlist-closed {
  box-shadow: none;
  right: -300px;
  pointer-events: none;
}

.playlist-menu {
  padding: 10px;
  display: flex;
  align-items: center;
}

.playlist-picker {
  flex-grow: 1;

  display: block;
  border: 0;
  text-align: left;
  font-size: 13px;
  color: #777;
  border-radius: 4px;
  padding: 7px;
  background: rgba(240, 240, 240, 0.3);
}

.playlist-close {
  margin-left: 10px;
  background: transparent;
  border: 0;
  color: gray;
}

.playlist-items {
  flex-grow: 1;
  overflow: auto;
}

.playlist-item {
  display: block;
  padding: 8px 10px;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
}

.playlist-item:hover {
  background-color: rgba(230, 230, 230, 0.2);
}

.playlist-item-current {
  font-size: 12px;
  color: #ccc;
}

.playlist-item-title {
  font-size: 14px;
}

.playlist-controls {
  display: flex;
}

.playlist-controls > * {
  padding: 10px;
  flex: 1 0 0;
}
