body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  overflow: auto;
}

a {
  background: #555;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 2rem;
  text-align: center;
}
