* {
  box-sizing: border-box;
}

:not(input):not(textarea) {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button,
input,
select,
textarea {
  background: transparent;
  border-radius: 0;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-shadow: inherit;
}

button {
  cursor: pointer;
}
